<%
@title = "The Blooms Bloomers Story"
%>

<h1>The Blooms Bloomers Story</h1>
<h2>Keeping Pirates Clothed Since 1679</h2>

<div class="about">
  <img src="/images/pirate_bloomers.jpg">

  <p>Swab come about topsail sutler jury mast clipper furl Jack Tar lookout gaff. Mizzenmast Shiver me timbers provost scuppers long clothes aft Sail ho main sheet fore holystone. Run a shot across the bow rope's end league draft reef sails tender haul wind pirate trysail weigh anchor. </p>

<ul>
  <li>Shiver me timbers Cat o'nine tails Pieces of Eight black jack bilge rat. </li>
  <li>Lateen sail parley grog blossom Arr bucko. </li>
  <li>Jack crack Jennys tea cup aye Sink me loot. </li>
  <li>Parrel grog blossom Pirate Round boom topsail. </li>
  <li>Hands handsomely square-rigged fore hang the jib. </li>
</ul>

  <p>Plunder grog blossom ho ballast Admiral of the Black avast yawl run a rig jury mast bucko. Pillage long boat scurvy mizzenmast scuppers sutler draught landlubber or just lubber Arr crimp. Chantey bilge water gangway wherry Spanish Main overhaul brigantine Cat o'nine tails topgallant furl. </p>

</div>

<div class="contact">

  <form class="contact-form"  method="post" action="">

  <h2>Contact Us</h2>
  <div class="message">
    <label>Message<span class="req">*</span></label>

    <textarea
    name="Field1"
    spellcheck="true"
    rows="10" cols="50"
    tabindex="1"
    onkeyup=""
    required  ></textarea>
    <p class="instruct" id="instruct1">This field is required.</p>
  </div>

  <div class="email-address">
    <label for="Field2">Email Address</label>
    <input id="Field2" name="Field2" type="email" spellcheck="false" value="" maxlength="255" tabindex="2" />
    <p class="instruct">We won't share this with strangers.</p>
  </div>

  <div class="submit">
    <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit"/>
</div>

</form>

</div> <!-- End Contact -->
