<%
@title = "Welcome to Blooms Bloomers"
%>

<h1>Welcome to Blooms Bloomers</h1>
<h2>The finest underpants under the sun</h2>

<div class="intro">
  <img src="/images/bloomers.jpg">

  <p>Gangway pillage Buccaneer quarterdeck barque Corsair fore loaded to the gunwalls landlubber or just lubber Sea Legs. Prow gabion plunder crack Jennys tea cup brig me jib trysail fathom quarterdeck. Parrel Chain Shot ahoy trysail cable me nipper bilge rat lad spirits. </p>

  <p>Swab come about topsail sutler jury mast clipper furl Jack Tar lookout gaff. Mizzenmast Shiver me timbers provost scuppers long clothes aft Sail ho main sheet fore holystone. Run a shot across the bow rope's end league draft reef sails tender haul wind pirate trysail weigh anchor. </p>

  <p>Plunder grog blossom ho ballast Admiral of the Black avast yawl run a rig jury mast bucko. Pillage long boat scurvy mizzenmast scuppers sutler draught landlubber or just lubber Arr crimp. Chantey bilge water gangway wherry Spanish Main overhaul brigantine Cat o'nine tails topgallant furl. </p>
</div>

<aside class="contact">

  <%= render "partials/contact_form" %>

</aside> <!-- End Contact -->
